---
import type { Author } from "../types/types";

interface Props {
  authors: Author[];
}

const { authors } = Astro.props;
---

<div class="authors flex flex-row gap-x-3 gap-y-2 flex-wrap justify-center max-w-6xl mx-auto">
  {
    authors.map((author, index) => (
      <div class="flex flex-col items-center text-center">
        <span class="text-lg md:text-l font-medium flex flex-row items-start">
          {author.url ? (
            <a href={author.url} class="">
              {author.name}
            </a>
          ) : (
            author.name
          )}
          {author.notes && (
            <sup class="text-sm md:text-base">
              {author.notes.map(
                (note, index, array) =>
                  note + (index < array.length - 1 ? "," : "")
              )}
            </sup>
          )}
          {index < authors.length - 1 && <span>,</span>}
        </span>
        {author.institution && <p>{author.institution}</p>}
      </div>
    ))
  }
</div>
