---
import type { Note } from "../types/types";

interface Props {
  notes: Note[];
}

const { notes } = Astro.props;
const affiliationNotes = notes.filter((note) => /^\d+$/.test(note.symbol));
const contributionNotes = notes.filter((note) => !/^\d+$/.test(note.symbol));
// Saving this document with automatic formatting adds a line in between the note symbol in the `<sup>` element and the note text.
// This adds a space in between the symbol and the text in the final HTML.
// To preserve the lack of a space, save this file without formatting by pressing `Cmd+Shift+P` (in VS Code) and selecting `File: Save without formatting`.
---

<div class="text-sm text-center flex flex-col items-center gap-1 max-w-5xl">
  {
    affiliationNotes.map((note) => (
      <p>
        <sup>{note.symbol}</sup>{note.text}
      </p>
    ))
  }
  {
    contributionNotes.length > 0 && (
      <p>
        {
          contributionNotes.map((note, index) => (
            <>
              <sup>{note.symbol}</sup>{note.text}{index < contributionNotes.length - 1 ? ", " : ""}
            </>
          ))
        }
      </p>
    )
  }
</div>
